@model IEnumerable<FernandoALifeStory.Data.Models.Academics.Discipline>

@{
    ViewData["Title"] = "Curriculum";
}

<h2>Curriculum</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECTs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECTs)
            </td>
            <td>
                @Html.ActionLink("Project", "Project", new { id=item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>
