@model IEnumerable<FernandoALifeStory.Data.Models.Certifications.Certification>

@{
    ViewData["Title"] = "Certifications";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdquiredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationSkills)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdquiredAt)
            </td>
            <td>
                @Html.ActionLink("Skills", "Skills", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
