@model IEnumerable<FernandoALifeStory.Data.Models.WorkExperiences.Work>

@{
    ViewData["Title"] = "Work Experiences";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievements)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @if (item.EndDate is null)
                {
                    @Html.DisplayText("Ongoing");
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.EndDate)
                }
            </td>
            <td>
                @Html.ActionLink("Skills", "Skills", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Achievements", "Achievements", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
